# SPDX-FileCopyrightText: 2022 Alec Delaney, written for Adafruit Industries
#
# SPDX-License-Identifier: MIT

[submodule "submodules/adabot"]
	path = submodules/adabot
	url = https://github.com/adafruit/adabot.git
[submodule "submodules/bundle"]
	path = submodules/bundle
	url = https://github.com/adafruit/Adafruit_CircuitPython_Bundle.git
